
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sound Dropper</title>
        <link rel="stylesheet" href="assets/bulma.min.css" />
        <style>
            .drop-list {
                max-height: 80vh;
                overflow: hidden;
                overflow-y: scroll;
            }
            .select {
                margin: auto;
                max-width: 300px;
            }
        </style>
        <script src="assets/howler.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <nav-bar></nav-bar>
            
            <div class="container">
                <drop-list></drop-list>
                <!-- <a href="drop.html">Add a drop</a> -->

                <drop-adder></drop-adder>
            </div>
            <!-- <div class="panel is-danger">
                <h2 class="panel-heading">This is totally just for debugging</h2>
                <form action="/drop" method="post" enctype="multipart/form-data" class="panel-block">
                    <input type="text" name="username" placeholder="username" />
                    <input type="file" name="file" />
                    <input type="submit" />
                </form>
            </div> -->
            
        </div>
        <template id="drop-list">
            <div class="menu">
                <ol class="drop-list menu-list">
                    <li v-for="drop in drops" class="box">
                        <!--
                            drop: {{drop.path}}
                            date: {{drop.date}}
                            name: {{drop.name}}
                        -->
                        <sound-player v-bind:drop="drop"></sound-player>
                    </li>
                </ol>
            </div>
        </template>
        <template id="input-select">
            <div class="select">
                <select v-model="device">
                    <option v-for="device in devices" v-bind:value="device.deviceId">
                        {{device.label}}
                    </option>
                </select>
            </div>
        </template>
        <template id="app-login">
            <div v-if="submitted" class=" is-flex is-justify-content-flex-end is-align-items-center">
                <p>
                    Hello {{ name }}
                </p>
                <button @click.prevent="submitted = false" class="button is-dark ml-2">Not {{ name }}?</button>
            </div>
            <form v-else @submit.prevent="submitted = true" class="m-0 is-flex is-justify-content-flex-end is-align-items-center">
                <input v-model="name" type="text" placeholder="Your name" class="input"/>
                <button class="button is-dark ml-2">set name</button>
            </form>
        </template>
        
        <template id="drop-adder">
            <div id="controls">
                <button v-if="!isRecording" v-on:click="startRecording" class="button is-primary">Drop</button>
                <button v-if="isRecording" v-on:click="stopRecording" class="button is-primary">Stop</button>
                <button v-if="isRecording" v-on:click="cancelRecording" class="button is-danger">Cancel</button>
                <span v-if="isRecording">🔴</span>
            </div>
        </template>

        <template id="nav-bar">
            <nav class="navbar is-black" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-start"><app-login></app-login></div>
                    <h1 class="navbar-brand is-size-3">{{title}}</h1>
                    <div class="navbar-end"><input-select></input-select></div>
                </div>
            </nav>
        </template>

        <template id="sound-player">
            <div class="is-flex is-flex-direction-row">
                <span class="is-flex-grow-1"><strong>{{ drop.name }}</strong> {{drop.date}} ({{duration}}) </span>
                <button v-on:click="play" v-if="!isPlaying" class="button is-dark is-align-self-flex-end">Play</button>
                <button v-on:click="stop" v-if="isPlaying" class="button is-dark is-align-self-flex-end">Stop</button> 
            </div>
        </template>

        <script src="./dropper.js"></script>
        <script>            
            Vue.component('drop-adder', {
                data: () => ({
                    isRecording: false,
                    recordingData: [],
                    audio: null,
                    recorder: null
                }),

                template: '#drop-adder',

                methods: {
                    async startRecording(event) {
                        this.audio = this.audio || new AudioContext();
                        let selectedDevice = localStorage.getItem('device') || 'default';
                        let constraints = {audio: {deviceId: selectedDevice}};

                        
                        let stream = await navigator.mediaDevices.getUserMedia(constraints).catch((err) => console.log(err));
                        let target = this.audio.createGain();
                        let source = this.audio.createMediaStreamSource(stream);

                        let analyser = this.audio.createAnalyser();
                        analyser.fftSize = 256;
                        
                        this.data = new Uint8Array(analyser.frequencyBinCount);

                        source.connect(analyser);
                        source.connect(target);

                        
                        this.audio.resume();

                        this.recorder = new MediaRecorder(stream);
                        this.recorder.start();
                        this.recorder.ondataavailable = (e) => {
                            this.recordingData.push(e.data);
                        }

                        this.isRecording = true
                    },
                    stopRecording: function(event) {
                        this.audio.suspend();
                        this.recorder.stop();

                        this.recorder.onstop =  (e) => {
                            const blob = new Blob(this.recordingData, {type: 'audio/ogg; codecs=opus'});

                            const data = new FormData();
                            // TODO username.value
                            data.append('username', localStorage.getItem('name'));
                            data.append('file', new File([blob], `upload.ogg`, {type:blob.type}));


                            console.log('data');

                            fetch('/drop', {
                                method: 'POST',
                                mode: 'cors',
                                body: data
                            })
                            .then(result => {
                                console.log(result);
                                document.location.replace('/')
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });

                            // Cleanup
                            this.recordingData = [];

                            
                        }

                        this.isRecording = false
                    },
                    cancelRecording: function(event) {
                        this.audio.suspend();
                        this.recorder.onstop =  (e) => {
                            console.log('Stopped recording')
                        }
                        this.recorder.stop();

                        this.recordingData = [];
                        this.isRecording = false
                    }
                }
            })

            Vue.component('nav-bar', {
                data: () => ({
                    title: 'Dropper'
                }),
                template: '#nav-bar'
            })
            Vue.component('input-select', {
                data: () => ({
                    
                    devices: [],
                    device: ''
                }),
                async mounted() {
                    if (localStorage.device) {
                        this.device = localStorage.getItem('device');
                    }

                    devices = await navigator.mediaDevices.enumerateDevices()

                    this.devices = devices.filter(device=>device.kind==='audioinput');

                },
                watch: {
                    device(dev) {
                        localStorage.setItem('device', dev);
                    }
                },
                template: '#input-select'

            });
            Vue.component('app-login', {
                data: () => ({
                    submitted: false,
                    name: ''
                }),
                mounted() {
                    if (localStorage.name) {
                        this.name = localStorage.getItem('name');
                        this.submitted = !! this.name
                    }
                },
                watch: {
                    name(newName) {
                        localStorage.setItem('name', newName);
                    }
                },
                template: '#app-login'
            })


            Vue.component('drop-list', {
                data: function () {
                    return {
                        drops: []
                    }
                },
                mounted() {
                    fetch('/drops')
                        .then(res => res.json())
                        .then((drops) => this.drops = drops)

                    const ws = new WebSocket(document.location.origin.replace(/^http/, 'ws'))

                    setInterval(() => ws.send("ping"), 45000)

                    ws.addEventListener('message', (e) => {
                        try {
                            const json = JSON.parse(e.data)
                            if(json.type === 'new-file') {
                                this.drops.push(json.payload)
                            }

                        } catch (e) {
                            console.error(e)
                        } 
                    })

                    
                },
                template: '#drop-list'
            })


            Vue.component('sound-player', {
                props: ['drop'],
                data: () => {
                    return {
                        player: null,
                        duration: 0,
                        isPlaying: false,
                        date: null
                    }
                },
                 
                mounted() {
                    const vm = this;
                    const player = this.player =  new Howl({
                        src: [`/drops/${vm.drop.path}`]
                    });

                    this.date = vm.drop.path.split('-')[0];

                    this.player.on('play', function(){
                        vm.duration = player.duration();
                        vm.isPlaying = true
                    });  
                    this.player.on('stop', function(){
                        vm.isPlaying = false
                    }); 
                    this.player.on('end', function(){
                        vm.isPlaying = false
                    });                   
                },

                methods: {
                    play () {
                        if (window.currentPlaying != this.player) {
                            if (window.currentPlaying) {
                                window.currentPlaying.stop();
                            }
                            window.currentPlaying = this.player;
                            this.player.play()
                        }
                    },
                    stop () {
                        this.player.stop()
                    }
                },

                template: '#sound-player'
            })

            new Vue({ el: '#app' });

        </script>
    </body>
</html>