<html>
    <head>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
   
        <hr />

        <div id="app">
            <app-login></app-login>
            <drop-list></drop-list>
        </div>
        <form action="/drop" method="post" enctype="multipart/form-data" >
            <h2>This is totally just for debugging</h2>
            <input type="text" name="username" placeholder="username" />
            <input type="file" name="file" />
            <input type="submit" />
        </form>
        
        
        <script>

            Vue.component('app-login', {
                data: function () {
                    return {
                        submitted: false,
                        name: ''
                    }
                },
                mounted() {
                    if (localStorage.name) {
                        this.name = localStorage.getItem('name');
                        this.submitted = !! this.name
                    }
                },
                watch: {
                    name(newName) {
                        localStorage.setItem('name', newName);
                    }
                },
                template: `<div>
                        <p v-if="submitted">
                            Hello {{ name }}
                            <button @click.prevent="submitted = false">change</button>
                        </p>
                        <form v-else @submit.prevent="submitted = true">
                            <input v-model="name" type="text" placeholder="Your name" />
                            <button>set name</button>
                        </form>
                    </div>`
            })


            Vue.component('drop-list', {
                data: function () {
                    return {
                        drops: []
                    }
                },
                mounted() {
                    fetch('/drops')
                        .then(res => res.json())
                        .then((drops) => this.drops = drops)
                },
                template: `<div>

                    Drop list...

                    <ol>
                    <li v-for="drop in drops">
                        drop: {{drop.path}}<br />
                        date: {{drop.date}}<br />
                        name: {{drop.name}}<br />
                        
                        <audio v-bind:src="'/drops/' + drop.path" controls />
                    </li>
                    </ol>
                        
                    </div>`
            })

            new Vue({ el: '#app' })





        </script>
    </body>
</html>