html, body {
  min-height: 100%;
}
.drop-list {
  margin: 1rem;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}
.drop-list ol {
  list-style: none;
  margin-left: 0;
}
.drop-list ol li {
  margin: 0;
}
.drop-list-item {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 1rem 0;
  margin: 0;
}
.meta {
  display: flex;
  align-items: center;
}
.player .button {
  margin-right: 1rem;
}
.player progress {
  width: 10rem;
  max-width: 100%;
}
.player .length {
  width: 5rem;
  text-align: left;
  margin-left: 1rem;
  font-weight: bold;
}
.toolbar {
  background-color: #f1f1f1;
  padding: 1rem;

  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}
.toolbar > * {
  box-sizing: border-box;
  padding: 1rem 0;
  margin: auto 0 !important;
  flex-grow: 0;
}
.toolbar-micselect {
  width: 25%;
  flex-basis: 25%;
}
.toolbar-micselect .notification {
  top: 100%;
  z-index: 10;
}
.toolbar-recorder {
  width: 50%;
  flex-basis: 50%;
}
.toolbar-username {
  width: 25%;
  flex-basis: 25%;
}
.toolbar-username h3 {
  flex-basis: 50%;
}
.toolbar-username > div {
  justify-content: flex-end;
  display: flex;
}

.notification {
  position: absolute;
  bottom: 100%;
  width: 100%;
  padding: 1rem !important;
  left: 0;
  right: 0;
  transition: .1s ease-in-out;
  transform-origin: bottom center;
}
.notification.hidden {
  transform: scaleY(0) scaleX(.8);
  opacity: 0;
  pointer-events: none;
}
.notification.visible {
  transform: scaleY(1) scaleX(1);
  opacity: 1;
}

@media (max-width: 900px) {
  .container {
    padding: 0;
  }
  .drop-list-item {
    flex-direction: column;
  }
  .meta {
    margin-bottom: .5rem;
  }
  .player progress {
    width: 100%;
  }
  .toolbar {
    flex-direction: column;
    padding: .5rem 1rem;
    margin: 0;
    box-shadow: 0 0 1rem .5rem rgba(0,0,0,.15);
  }
  .toolbar > * {
    width: 100%;
    flex: 1;
    padding: .5rem 0;
    justify-content: center;
  }
  .toolbar-username > div {
    justify-content: center;
  }
  .toolbar-recorder {
    order: -1;
  }
}